In [1]:
import numpy as np
import pandas as pd

GroupBy

In [16]:
data = {
    'category' : ['A','B','A','B','A','B','A','B'],
    'store' : ['S1','S2','S1','S2','S2','S1','S2','S1'],
    'sales' : [100,200,400,356,200,400,100,777],
    'quantity' : [2,4,5,6,7,5,4,4],
    'date' : pd.date_range('2025-01-01',periods=8)
}
df = pd.DataFrame(data)

In [17]:
df

  category store  sales  quantity       date
0        A    S1    100         2 2025-01-01
1        B    S2    200         4 2025-01-02
2        A    S1    400         5 2025-01-03
3        B    S2    356         6 2025-01-04
4        A    S2    200         7 2025-01-05
5        B    S1    400         5 2025-01-06
6        A    S2    100         4 2025-01-07
7        B    S1    777         4 2025-01-08

In [8]:
cat = df.groupby('category')
cat

In [9]:
cat = df.groupby('category')
cat
for i,v in cat:
    print(i)
    print(v)

A
  category store  sales  quantity       date
0        A    S1    100         2 2025-01-01
2        A    S1    466         5 2025-01-03
4        A    S2    775         7 2025-01-05
6        A    S2    643         4 2025-01-07
B
  category store  sales  quantity       date
1        B    S2    200         4 2025-01-02
3        B    S2    776         6 2025-01-04
5        B    S1    876         5 2025-01-06
7        B    S1    777         4 2025-01-08

In [11]:
#group by category and calculate their sum
cat = df.groupby('category')['sales'].sum()
cat

category
A    1984
B    2629
Name: sales, dtype: int64

In [20]:
#group by sales and calculate sum of sales
cat = df.groupby('store')['sales'].sum()
cat

store
S1    1677
S2     856
Name: sales, dtype: int64

In [22]:
#group by multiple column 
#group by category and store
cat = df.groupby(['category','store'])['sales'].sum()
cat

category  store
A         S1        500
          S2        300
B         S1       1177
          S2        556
Name: sales, dtype: int64

Aggregation

In [24]:
df['sales'].mean()
"""mean median max min count std"""

np.float64(316.625)

In [25]:
df['sales'].agg(['sum','mean','median','max','count','min','std'])

sum       2533.00000
mean       316.62500
median     278.00000
max        777.00000
count        8.00000
min        100.00000
std        223.11236
Name: sales, dtype: float64